/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

li.person {
  margin-bottom: 1.25rem;
  min-height: 95px;
  padding-left: 20px;
  padding-top: 3px;
  list-style: none;
}

#directory {
  margin-left: 0rem;
  li.person.sub-head {
    min-height: 1px;
    margin-bottom: 0;
    background: none;
    padding: 0;
  }
}


li.person {
  &.sub-head h2 {
    font-size: 1.75rem;
    margin: 0 0 10px 0;
    color: $black;
  }
  img {
    max-width: 150px;
    clear: left;
    float: left;
    margin-right: 1rem;
  }
  h3 {
  	font-size: 1.5rem;
  }
  h4{
  	font-size: 1.125rem;
  }
  ul.contact {
    list-style: none;
    margin-left: 0;
  }
}