/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

li.person {
  margin-bottom: 1.25rem;
  min-height: 95px;
  padding-left: 20px;
  padding-top: 3px;
  list-style: none;
}

#directory {
  margin-left: 0rem;
  li.person.sub-head {
    min-height: 1px;
    margin-bottom: 0;
    background: none;
    padding: 0;
  }
}


li.person {
  &.sub-head h2 {
    font-size: 1.75rem;
    margin: 0 0 10px 0;
    color: $black;
  }
  img {
    max-width: 150px;
    clear: left;
    float: left;
    margin-right: 1rem;
  }
  h3 {
  	font-size: 1.5rem;
  }
  h4{
  	font-size: 1.125rem;
  }
  ul.contact {
    list-style: none;
    margin-left: 0;
  }
}

footer.timely.ai1ec-event-footer {
    background: inherit;
}

.timely p {
  font-size: 16px;
  font-family: $font-stack !important;
  font-weight: $font-stack-weight;
}

.ai1ec-event-time, span.ai1ec-event-title, .ai1ec-event-details, .ai1ec-event-location {
  font-family: $font-stack-semibold !important;
  font-weight: $font-stack-semibold-weight;
}

.ai1ec-agenda-view .ai1ec-event .ai1ec-event-time {
  opacity: 1;
  font-weight: inherit;
}

.ai1ec-agenda-widget-view .ai1ec-date, .ai1ec-agenda-widget-view .ai1ec-date.ai1ec-today,{
  background: none !important;
}

.ai1ec-agenda-view .ai1ec-date.ai1ec-today {
  border-top: none !important;
  background: none !important;
}

.timely {
  font-family: inherit !important;
}

.ai1ec-agenda-widget-view {
  .ai1ec-event {
    .ai1ec-event-time, > a {
      color: $black !important;
    }
  }
  .ai1ec-month {
    background: $primary-color;
  }
}

.ai1ec-agenda-view .ai1ec-month {
  background: $primary-color;
}

.ai1ec-agenda-widget-view .ai1ec-event .ai1ec-event-title, .ai1ec-agenda-view .ai1ec-event .ai1ec-event-title {
  color: $primary-color;
}

.entry-content .timely a:hover, .comment-content .timely a:hover, .site-footer .widget .timely a:hover, .entry-content .timely a:visited, .comment-content .timely a:visited, .site-footer .widget .timely a:visited, .ai1ec-agenda-view .ai1ec-event:hover .ai1ec-event-title {
  color: $black !important;
}

#calendar_section {
  margin-bottom: 10px;
}

.events-feed {
	.ai1ec-time, .ai1ec-location {
    font-size: 1rem;
}
}

.events-feed {
  .ai1ec-agenda-view {
    .ai1ec-date {
      background: none;
    }
    .ai1ec-event {
      border: none;
    }
  }
  .ai1ec-pagination, .ai1ec-subscribe-container, .ai1ec-clearfix, .ai1ec-title-buttons.ai1ec-btn-toolbar, .ai1ec-calendar-toolbar, span.ai1ec-categories {
    display: none;
  }
  .ai1ec-event-time, .ai1ec-event-location {
    font-size: 1rem !important;
  }
  .ai1ec-event-title {
    font-size: 1.25rem !important;
  }
  .timely .ai1ec-btn-default {
    background: $primary-color;
    color: #fff;
    &:hover {
      border-bottom-color: #adadad !important;
    }
  }
}